<div class="chat-notices">
  <ChatRetentionReminder @channel={{@channel}} />

  {{#each this.noticesForChannel as |notice|}}
    <div class="chat-notices__notice">
      <ChatNoticeContent
        @notice={{notice}}
        @channel={{@channel}}
        @clearNotice={{this.clearNotice}}/>

      <DButton
        @icon="times"
        @class="btn-flat chat-notices__notice__clear"
        @action={{fn this.clearNotice notice}}
      />
    </div>
  {{/each}}
</div>